{% extends 'layout.html' %}

{% block content %}
<h1 class="mb-4">Match Lookup</h1>
<form id="matchForm" class="mb-3">
  <div class="row g-2">
    <div class="col-auto">
      <input type="text" class="form-control" id="region" placeholder="Region (na1)" value="na1">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" id="matchId" placeholder="Match ID">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Fetch</button>
    </div>
  </div>
</form>
<pre id="matchOutput"></pre>
{% endblock %}
